<<<<<<< HEAD
.form____group {
  position: relative;
  padding: 15px;
  margin: 10px;
  width: 50%;
}

.form____field {
  width: 800px;
  max-width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  border-width: 100%;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form____field::placeholder {
  color: transparent;
}
.form____field:placeholder-shown ~ .form____label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form____label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form____field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #38ef7d, #11998e);
  border-image-slice: 1;
}
.form____field:focus ~ .form____label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: linear-gradient(to right, #c21500, #ffc500);
  font-weight: 700;
}

/* reset input */
.form____field:required, .form____field:invalid {
  box-shadow: none;
}

/* demo */
.ImageURL {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  margin-right: 50%;
}




.wrapper{
  position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
}

.link_wrapper{
  position: relative;
  margin-top: 10px;
}

.a{
  display: block;
  width: 400px;
  height: 75px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
}

.icon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #2ecc71;
  transition: all .35s;
}

.a:hover{
  width: 400px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}

.a:hover + .icon{
  border: 3px solid #2ecc71;
  right: -10%;
  top: +15%;
}

=======
.form__group {
  position: relative;
  padding: 15px;
  margin: 10px;
  width: 50%;
}

.form__field {
  width: 800px;
  max-width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  border-width: 100%;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #38ef7d, #11998e);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: linear-gradient(to right, #c21500, #ffc500);
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

/* demo */
.ImageURL {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  margin-right: 50%;
}




.wrapper{
  position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
}

.link_wrapper{
  position: relative;
  margin-top: 10px;
}

.a{
  display: block;
  width: 400px;
  height: 75px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
}

.icon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #2ecc71;
  transition: all .35s;
}

.a:hover{
  width: 400px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}

.a:hover + .icon{
  border: 3px solid #2ecc71;
  right: -10%;
  top: +15%;
}

>>>>>>> 76d330c52d2c4cc345fa08e5bccd7f0c06cdd2a0
