@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
  margin: 4;
  font-family: 'Ubuntu Mono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-image: linear-gradient(to right, #30CFD0 , #330867);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
	outline: none;
	border: none;
}

input {
	outline: none;
}